<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/layout_member.html">




    <div layout:fragment="content" id ="container" class="container">
		
		
		<script th:inline="javascript">
		
			$(function(){
				$("#btn_confirm").on('click', function(){
					
					
					
				//변수에 저장
				var lastName = document.getElementById("lastName")
				var firstName = document.getElementById("firstName")
				var englishFname = document.getElementById("englishFname")
				var englishLname = document.getElementById("englishLname")
				var gender = document.getElementById("gender")
				var country = document.getElementById("country")
				var uid = document.getElementById("uid")
				var pass = document.getElementById("pass")
				var passConfirm = document.getElementById("passConfirm")
				var hp = document.getElementById("hp")
				var email = document.getElementById("email")
				var tel = document.getElementById("tel")
				var zip = document.getElementById("zip")
				var addr1 = document.getElementById("addr1")
				var addr2 = document.getElementById("addr2")
			
				var phone1 = document.getElementById("phone1")
				var emailAddr =document.getElementById("emailAddr")
			
			//정규식
			
			//한글 이름
			var regName1 = /^[ㄱ-ㅎ|가-힣]+$/;
			
			//영어 이름
			var regName2 = /^[a-zA-Z]+$/;
			
			//성별
			
			//지역
			
			//
			
			//아이디, 비밀번호
			var regId = /^[a-zA-Z0-9]{6,15}$/;
			
			//공백
			
			var regBlank =  /[\s]/g;
			
			//특수문자
			
			var regSmark = /[`~!@#$%^&*|\\\'\";:\/?]/gi;
			
			//비밀번호
			var regPw = /^(?=.*[a-zA-Z])(?=.*[!@#$%^&*+=-])(?=.*[0-9]).{8,20}$/;
			
			//휴대폰 번호
			
			var regHp = /^\d{3}-\d{3,4}-\d{4}$/;
			
			
			//이메일
			
			var regMail = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/;
			
			
			//일반전화
			
			var tel = /^\d{2,3}-\d{3,4}-\d{4}$/;
			
			
			//우편번호
			
			
			
			
			//주소
			
			//이름확인
			if(lastName.value == "") {
				alert("성을 입력하세요.")
				lastName.focus();
				return false;
				
			}else if(!regName1.test(lastName.value)){
				alert("한글만 입력하세요.")
				lastName.focus();
				return false;			
			}
		
			if(firstName.value == "") {
				alert("이름을 입력하세요.")
				firstName.focus();
				return false;
				
			}else if(!regName1.test(firstName.value)){
				alert("한글만 입력하세요.")
				firstName.focus();
				return false;			
			}
		
			// 영어이름
			if(englishFname.value == "") {
				alert("성을 입력하세요.")
				englishFname.focus();
				return false;
				
			}else if(!regName2.test(englishFname.value)){
				alert("영어만 입력하세요.")
				englishFname.focus();
				return false;			
			}
		
			if(englishLname.value == "") {
				alert("이름을 입력하세요.")
				englishLname.focus();
				return false;
				
			}else if(!regName2.test(englishLname.value)){
				alert("영어만 입력하세요.")
				englishLname.focus();
				return false;			
			}
			
			
			//거주지역
			
			if(country.value == "") {
				alert("나라를 선택해주세요.")
				return false;
			}
			
				$("#country option:selected").val();
			
			
			//아이디
			if(uid.value == "") {
				alert("아이디를 입력하세요.")
				uid.focus();
				return false;
				
			}else if(!regId.test(uid.value)){
				alert("6~15자리 영문, 영문 + 숫자 조합만 입력 가능합니다.")
				uid.focus();
				return false;		
					
			}
		
			//비밀번호 확인
			if(pass.value == "") {
				alert("비밀번호를 입력하세요.")
				pass.focus();
				return false;
				
			}else if(!regPw.test(pass.value)){
				alert("영문 + 숫자 + 특수문자 8~20자리 입력 가능합니다.")
				pass.focus();
				return false;		
					//비밀번호와 아이디 비교
			}else if(pass.value == uid.value){
				alert("아이디와 동일한 비밀번호를 사용할 수 없습니다.")
				pass.focus();
				return false;
			
			}
			
			//비밀번호 확인
			if(pass.value !== passConfirm.value){
				alert("비밀번호와 동일하지 않습니다.")
				pass.focus();
				return false;
			}
			
			//else if(pass.value == passConfirm.value){
				//alert("동일.")
				//pass.focus();
				//return false;
			
			//}
			
			
			if(hp.value == "") {
				alert("휴대폰 번호 앞자리를 선택해야 합니다.");
				hp.focus();
				return false;
			
			}else if(myform.phone1.value.length == 0 || myform.phone2.value.length == 0){
				alert("전화번호가 누락됐습니다.");
				myform.phone1.focus(); 
				return false;
									
				
			}else if(isNaN(myform.phone1.value) || isNaN(myform.phone2.value)){
				alert("전화번호는 숫자만 입력가능합니다.");
				myform.phone1.focus(); 
				return false;
			}	
			
				var hp = hp.value + "-" + phone1.value + "-" + phone2.value;
				
				
				$("#hp").val(hp);
			
			
			
			
			//이메일
			if(email.value == "") {
				alert("이메일 주소를 입력하세요.")
				pass.focus();
				return false;
				
			}	
			
			if(myform.emailAddr.value =="") {
				alert("나머지 주소를 선택해야 합니다.");
				myform.emailAddr.focus();
				return false;
			}
			
			var email = email.value +'@'+ emailAddr.value;
				
				$("#email").val(email);
			
			
			
			
			
			//유선전화
			if(isNaN(myform.phone3.value) || isNaN(myform.phone4.value)){
				alert("전화번호는 숫자만 입력가능합니다.");
				myform.phone3.focus(); 
				return false;
			}
			
			
									
					
					
				})
				
			})
		
		
		
		
		
		
		
		
		 
		
		</script>
		
        <div class="mem_wrap">
            <div class="indicator_wrap">
                <ul>
                    <li>
                        <span class="hidden">1. 회원 약관동의(현재 단계)</span>
                    </li>
                    <li>
                        <span class="hidden">2. 본인인증</span>
                    </li>
                    <li >
                        <span class="hidden">3. 기존 회원여부 확인</span>
                    </li>
                    <li  class="on">
                        <span class="hidden">4. 회원 정보 입력</span>
                    </li>
                    <li>
                        <span class="hidden">5. 가입완료</span>
                    </li>
                </ul>
            </div>
            
            <h3 class="mem_tit">회원정보 입력</h3>
            <p class="text_type10">회원님의 개인정보를 입력해주시기 바랍니다.</p>
            <div class="title_wrap_type">
                <div class="f1">
                    <h4 class="f1">회원정보 입력</h4>
                </div>
            </div>
            
            
            
            
            <form th:onaction="@{/member/register}" method="post" name="myform">
				<input type="hidden" name="type" value="1"/>
				<table class="table_form">
                <caption>
                    <strong>회원정보 입력 표로 상세한 회원 정보를 입력할 수 있습니다.</strong>
                    <p>
                        한글명, 영문명, 성별, 거주지역, 아이디, 비빌번호, 비밀번호 확인, 휴대전화, 이메일로 구성된 표입니다.
                    </p>
                </caption>    
                <colgroup>
                    <col style="width:210px">
                    <col style="width:auto";>
                </colgroup>
                <tbody>
                    <tr>
                        <th scope="row">
                            <label for="lastName">한글명</label>
                        </th>
                        <td>
                           <input type="text" id="lastName" name="lastName" placeholder="한글 성 입력(예 : 김)" title="한글 성 입력(예 : 김)" style="width:314px;"> 
                           <input type="text" id="firstName" name="firstName" placeholder="한글 이름 입력(예 : 보미)" title="한글 이름 입력(예 : 보미)" style="width:314px;">
                           <p class="txt_error_msg" id="error_koreanName" style="display:none;"></p> 
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <label for="englishFname">영문명</label>
                        </th>
                        <td>
                           <input type="text" id="englishFname" name="englishFname" placeholder="영문 성 입력(예 : kim)" title="한글 성 입력(예 : 김)" maxlength="40" style="width:314px;"> 
                           <input type="text" id="englishLname" name="englishLname" placeholder="영문 이름 입력(예 : bomi)" title="영문 이름 입력(예 : bomi)" maxlength="40" style="width:314px;">
                           <p class="txt_error_msg" id="error_koreanName" style="display:none;"></p> 
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <label for="gender">성별</label>
                        </th>
                        <td>
                            <input type="radio" name="gender" id="gender_man" value="1" checked >
                            <label for="gender_man">남</label>
                            <input type="radio" name="gender" id="gender_woman" value="2" >
                            <label for="gender_woman">여</label>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <label for="country">거주지역</label>
                        </th>
                        <td>
                            <select id="country" name="country" style="width:420px;" th:onchange="select_country();" >
                            	<option value="">선택해주세요</option>
                            </select>
                            <button type="button" class="btn_S white" id="btn_changeResidentCountry" >변경</button>
                            <p class="txt_error_msg" id="error_residentCountry" style="display:none;">
                                거주지역이 변경됐습니다. 변경 버튼을 눌러주세요.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <label for="uid">아이디</label>
                        </th>
                        <td>
                            <input type="text" id="uid" name="uid" placeholder="6~15자리 영문+숫자" title="6~15자리 영문+숫자" style="width:300px;">
                            <button type="button" class="btn_S white" id="btn_idCheck" onclick="idCheck_open()">중복확인</button>
                            <ul class="list_type1 f14 mar_to">
                                <li>
                                    6~15자리 영문(대소문자 구별), 숫자 조합 입력 가능
                                    <br>
                                    (단 한글, 공백, 특수문자 입력 불가)
                                </li>
                            </ul>
                            <p class="txt_error_msg" id="error_id" style="display:none;"></p>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <label for="pass">비밀번호</label>
                        </th>
                        <td>
                           <input type="password" id="pass" autocomplete="off" name="pass" placeholder="영문+숫자+특수문자 8~20자리" title="영문+숫자+특수문자 8~20자리" style="width:300px;"> 
                            <div class="tooltip_wrap">
                                <a href="javascript:help();" class="btn_info">도움말</a>
                                <div class="layer_tooltip" style="width: 348px;" >
                                    <div class="inner">
                                        <ul class="pwd_rule">
                                            <li>
                                                8자 이상
                                                <span class="unable">불가</span>
                                            </li>
                                            <li>
                                                영문 대/소문자
                                                <span class="able">가능</span>
                                            </li>
                                            <li>
                                                숫자
                                                <span class="unable">불가</span>
                                            </li>
                                            <li>
                                                특수문자
                                                <span class="unable">불가</span>
                                            </li>
                                            <li>
                                                한글, 공백 입력 불가
                                                <span class="able">가능</span>
                                            </li>
                                            <li>
                                                아이디, 회원번호 불가
                                                <span class="able">가능</span>
                                            </li>
                                            <li>
                                                생년월일, 휴대전화 번호 불가
                                                <span class="able">가능</span>
                                            </li>
                                            <li>
                                                이메일주소 불가
                                                <span class="able">가능</span>
                                            </li>
                                            <li>
                                                20자 이내
                                                <span class="able">가능</span>
                                            </li>
                                            <li>
                                                보안정책상 사용 불가
                                                <span class="able">가능</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <a href="javascript:help_close();" class="tooltip_close">
                                        <span class="hidden">닫기</span>
                                    </a>
                                </div>
                            </div>
                            <p class="txt_error_msg" id="error_pw" style="display: none;"></p>
                        </td>
                    </tr>
                    <tr>
                       <th scope="row">
                            <label for="passConfirm">비밀번호 확인</label>
                       </th> 
                       <td>
                            <input type="password" id="passConfirm" name="passConfirm" autocomplete="off" placeholder="영문+숫자+특수문자 8~20자리" title="영문+숫자+특수문자 8~20자리" style="width:300px">
                            <p class="txt_error_msg" id="error_pwConfirm" style="display:none;"></p>
                       </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <label for="hp">휴대전화</label>
                        </th>
                        <td id="phone">
							
							<!--
						
						
							<select id="hp" name="hp" style="width:120px;" title="휴대전화 번호 앞자리">
                                <option value="">선택</option>
                                <option value="010">010</option>
                                <option value="011">011</option>
                                <option value="016">016</option>
                                <option value="017">017</option>
                                <option value="018">018</option>
                                <option value="019">019</option>
                            </select>
                            
                             <input type="text">
								
								
							-->
                        
                            <input type="text" id="hp" name="hp" placeholder="첫 번호" title="휴대전화번호 앞자리" maxlength="3" style="width:150px" >
                            -
                            <input type="text" id="phone1" name="phone1" placeholder="중간번호"  title="휴대전화번호 가운데 자리" maxlength="4" style="width:150px;" >
                            -
                            <input type="text" id="phone2" name="phone2" placeholder="끝 번호" title="휴대전화번호 끝자리" maxlength="4" style="width:150px" >
                            
                           
                            
                            <p class="txt_error_msg" id="error_koreaPhone" style="display:none;"></p>
                        </td>
                        
                        
                        
                        
                        <td id="foreign_phone" style="display: none;">
                            <input type="hidden" id="input_foreignPhoneNationCode" value="82">
                            <input type="text" id="input_foreignPhoneFirst" placeholder="앞 번호" title="휴대전화 번호 앞자리" style="width:150px">
                            -
                            <input type="text" id="input_foreignPhoneMiddle"  placeholder="중간번호" title="휴대전화 번호 가운데 자리" style="width:150px" >
                            -
                            <input type="text" id="input_foreignPhoneLast" placeholder="끝 번호" title="휴대전화번호 끝자리" style="width:150px;">
                            
                            <p class="txt_error_msg" id="error_foreignPhone" style="display:none;"></p>
                        </td>
                    </tr>
                    <tr>
                       <th scope="row">
                            <label for="email">이메일</label>
                       </th>
                       <td>
                            <input type="text" id="email" name="email" placeholder="이메일 입력" title="이메일 아이디 입력" style="width:198px;">
                            @ &nbsp;
                            <select id="emailAddr" name="emailAddr" title="이메일 도메인 선택" style="width:180px">
                                <option value="">선택해주세요</option>
                                <option value="naver.com">naver.com</option>
                                <option value="yahoo.co.kr">yahoo.co.kr</option>
                                <option value="hotmail.com">hotmail.com</option>
                                <option value="hanmail.net">hanmail.net</option>
                                <option value="nate.com">nate.com</option>
                                <option value="gmail.com">gmail.com</option>                            
                            </select>
                            <input type="text" id="input_emailDomain" placeholder="직접입력" title="직접입력" style="width:300px; display: none;">
                            <p class="txt_error_msg" id="error_emailId" style="display:none;"></p>
                            <p class="txt_error_msg" id="error_emailDomain" style="display:none;"></p>
                       </td> 
                    </tr>
                    <tr>
                        <th scope="row">
                            <label>
                                유선전화
                                <br>
                                (선택)
                            </label>
                        </th>
                        <td id="korea_homePhone">
                            <select id="select_koreaHomePhone" name="tel" title="유선전화 국제번호" style="width:120px">
                                <option value="02">02</option>
                                <option value="031">031</option>
                                <option value="032">032</option>
                                <option value="041">041</option>
                            </select>
                            <input type="text" id="tel" name="phone4" placeholder="중간번호" title="유선전화 번호 가운데 자리" maxlength="3" style="width:150px;">
                            -
                            <input type="text" id="input_koreaHomePhoneLast" name="phone4"  placeholder="끝 번호" title="유선전화번호 끝자리" maxlength="4" style="width:150px;">
                            <p class="txt_error_msg" id="error_koreaHomePhone" style="display:none;"></p>
                        </td>
                        <td id="foreign_homephone" style="display: none;">
                            <input type="hidden" id="input_foreignHomePhoneNationCode" value="82">
                            <input type="text" id="input_foreignHomePhoneFirst" placeholder="앞 번호" title="유선전화버호 앞자리" style="width:150px;">
                            -
                            <input type="text" id="input_foreignHomePhoneMiddle" placeholder="중간번호" title="유선전화번호 가운데 자리" style="width:150px;">
                            -
                            <input type="text" id="input_foreignHomePhoneLast" placeholder="끝 번호" title="유선전화번호 끝 자리" style="width:150px;">
                            <p class="txt_error_msg" id="error_foreignHomePhone" style="display:none;"></p>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <label for="addr1">
                                주소
                                <br>
                                (선택)
                            </label>
                        </th>
                        <td id="korea_address">
                            <p>
                                <input type="text" id="zip" name="zip" placeholder="우편번호" title="우펴번호" style="width: 105px;" readonly>
                                <button type="button" class="btn_popup" id="btn_zipCode" th:onclick="zipcode()">
                                    우편번호 검색
                                </button>
                            </p>
                            <p class="mar_to">
                                <input type="text" id="addr1" name="addr1" placeholder="기본 주소" title="기본 주소" style="width:400px;" readonly>
                                <input type="text" id="addr2" name="addr2" placeholder="상세 주소" title="상세 주소" style="width:400px;">
                            </p>
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            <ul class="list_type f14 mar_to">
                                <li>
                                    제공해주신 주소는 이벤트 또는 우수회원 승급 서비스 제공을 위해 이용됩니다.
                                </li>
                            </ul>
                            <p class="txt_error_msg" id="error_koreaAddress" style="display:none;"></p>
                        </td>
                        <td id="usa_address" style="display: none;">
                            <p>
                                <input type="text" id="input_usDefaultAddress" placeholder="기본 주소" title="기본 주소" style="width:400px;">
                                <input type="text" id="input_usDetailAddress" placeholder="상세 주소" title="상세 주소" style="width:400px;">
                            </p>
                            <P class="mar_to">
                                <input type="text" id="input_usCity" placeholder="도시(city)" title="도시(city)" style="width:250px;">
                                <input type="text" id="input_usState" placeholder="주(state)" title="주(state)" style="width:250px;">
                                <input type="text" id="input_usZipCode" placeholder="우편번호(zio code)" title="우편번호(zip code)" style="width:250px;">
                            </P>
                            <ul class="list_type f14 mar_to" >
                                <li>제공해주신 주소는 이벤트 또는 우수회원 승급 서비스 제공을 위해 이용됩니다.</li>
                            </ul>
                            <p class="txt_error_msg" id="error_usAddress" style="display:none;"></p>
                        </td>
                        

					<!--
						
						<td id="foreign_address" style="display: none;">
                            <p>
                                <input type="text" id="addr1" placeholder="기본 주소" title="기본 주소" style="width:400px;">
                                <input type="text" id="addr2" placeholder="상세 주소" title="상세 주소" style="width:400px;">
                            </p>
                            <p class="mar_to">
                                <input type="text" id="input_abroadCity" placeholder="도시(city)" title="도시(city)" style="width:250px;">
                                <input type="text" id="input_abroadZipCode" placeholder="우편번호(zip code)" title="우편번호(zip code)" style="width:250px;">
                            </p>
                            <ul class="list_type f14 mar_to">
                                <li>제공해주신 주소는 이벤트 또는 우수회원 승급 서비스 제공을 위해 이용됩니다.</li>
                            </ul>
                            <p class="txt_error_msg" id="error_abroadAddress" style="display:none;"></p>
                        </td>
						
						
						
						
						
						
					-->
                    
                    
                    
                    
                    
                    
                    </tr>
                    <tr>
                       <th scope="row">
                            뉴스레터 및 상품정보,
                            <br>
                            이벤트 등 수신
                            <br>
                            (선택)
                       </th> 
                       <td>
                            <input type="checkbox" id="check_receiveEmail">
                            <label for="check_receiveEmail">이메일</label>
                            <input type="checkbox" id="check_receiveSms">
                            <label for="check_receiveSms">SMS</label>
                            <ul class="list_type f14 mar_to">
                                <li>
                                    수신에 동의하시면 올카항공의 뉴스레터 및 상품정보, 이벤트 등의 안내를 받아보실 수 있습니다.
                                </li>
                                <li>
                                    회원정보, 예약 및 항공기 운항정보, 서비스 주요정책 관련내용은 수신동의 여부와 관계 없이 발송됩니다.
                                </li>
                            </ul>
                       </td>
                    </tr>
                </tbody>
            </table>
            
				 
            <div class="register_btn_wrap">
                <button type="button" class="btn_L white" id="btn_cancel">취소</button>
                
                
                
                <button type="submit" class="btn_L red" id="btn_confirm" >확인</button>
                
           
            </div>
				
				
				
				
			</form>
            
            
            
           
        </div>

        <div class="layer_wrap" id="idCheck1" style="display: none;">
            <div class="dim_layer"></div>
            <div class="layer_pop" style="width:500px; top: 850px" tabindex="0">
                <div class="pop_cont">
                    <p class="pop_tit st1">
                        다른 아이디를 사용하시려면 입력 후
                        <br>
                        <span class="cal_red">중복확인</span>
                        을 클릭해주시기 바랍니다.
                    </p>
                    <div class="form_area2">
                        <input type="text" id="inputId" name="inputId" placeholder="아이디 입력" title="아이디 입력" style="width:210px;">
                        <button type="button" class="btn_M white btn_minwidth" id="idCheck" onclick="idCheck()">중복확인</button>
                    </div>
                    <p id="p_idRule" style="display:none">
                        
                        <span class="col_brown" >아이디를 사용하실 수 없습니다.</span>
                        
                    </p>
                    <p id="p_info" style="display:none">
                       
						    <span type="text" class="col_brown" text="${checkUid}"  value="checkUid"> </span>
							<input type="text" class="col_brown" onfocus="this.blur()" id="checkUid" value="checkUid" readonly/ style="width:180px; height: 40px; background-color: white; border-color: white; cursor: default;" >(은)는 사용하실 수 있습니다.
					
                                   
                    </p>
                </div>
                
                <div class="btn_wrap_cetype">
                    <button type="button" class="btn_M red" id="idUse" onclick="idUse()" disabled>사용하기</button>
                </div>
                <a href="javascript:idCheck_close();" class="dim_close" id="btn_layerClose">
                    <span class="hidden">닫기</span>
                </a>
            </div>
        </div>
    </div>

</html>