<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


          <!--푸터 시작-->
    <footer th:fragment="footer" class="footer">
        <div class="footer_content">
            <div class="header_inner" background-color=pink;>
                <a class="headerlogo" th:href="@{/index}">
                    <span>
                        <img th:src="@{/img/headerlogo.png}" width="190px" height="130px" alt="logo">
                    </span>
                </a>
            
            </div>
            <div class="footer_wrap container1">
                <div>
                    <div class="footer_inner">
                        <div class="footer_inner_top">
                           <h3 class="footer_inner_top_header">기업 정보</h3>
                           <ul>
                               <li class="footer_inner_top_list">
                                    <a href="#">기업 정책</a>
                               </li>
                               <li class="footer_inner_top_list">
                                    <a href="#">기업 정책</a>
                               </li>
                               <li class="footer_inner_top_list">
                                    <a href="#">기업 정책</a>
                               </li>
                               <li class="footer_inner_top_list">
                                    <a href="#">기업 정책</a>
                               </li>
                           </ul>
                        </div>
                        <div class="footer_inner_top">
                           <h3 class="footer_inner_top_header">기업 정보</h3>
                           <ul>
                               <li class="footer_inner_top_list">
                                    <a href="#">기업 정책</a>
                               </li>
                               <li class="footer_inner_top_list">
                                    <a href="#">기업 정책</a>
                               </li>
                               <li class="footer_inner_top_list">
                                    <a href="#">기업 정책</a>
                               </li>
                               <li class="footer_inner_top_list">
                                    <a href="#">기업 정책</a>
                               </li>
                           </ul>
                        </div>
                        <div class="footer_inner_top">
                           <h3 class="footer_inner_top_header">기업 정보</h3>
                           <ul>
                               <li class="footer_inner_top_list">
                                    <a href="#">기업 정책</a>
                               </li>
                               <li class="footer_inner_top_list">
                                    <a href="#">기업 정책</a>
                               </li>
                               <li class="footer_inner_top_list">
                                    <a href="#">기업 정책</a>
                               </li>
                               <li class="footer_inner_top_list">
                                    <a href="#">기업 정책</a>
                               </li>
                           </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

      
    </footer>
    <!--푸터 끝-->
        
</html>